@font-face {
    font-family: "Kumbh Sans";
    src: url("./fonts/KumbhSans-Regular.ttf");
    font-weight: 400;
}

@font-face{
    font-family: "Kumbh Sans";
    src: url("./fonts/KumbhSans-Bold.ttf");
    font-weight: 700;
}

:root{
    --active-heading-color: hsl(238, 29%, 16%);
    --heading-color: hsl(237, 12%, 33%);
    --active-color: hsl(14, 88%, 65%); 
    --text-color: hsl(240, 6%, 50%);
    --dividers: hsl(240, 5%, 91%); 

    --font: "Kumbh Sans", sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    font-size: 1.2rem;

    background: rgb(111,101,231);
    background: linear-gradient(0deg, rgba(111,101,231,1) 0%, rgba(175,103,233,1) 100%);
}

main{
    display: flex;
    flex-direction: column;

    min-height: 60rem;
    min-width: 36rem;
    width: 37rem;
    padding: 0 3rem;
    margin-top: 10rem;

    font-family: var(--font);

    background-color: white;
    border-radius: 2.5rem;
    box-shadow: 0 2rem 3rem 1rem rgba(0, 0, 0, 0.336) ;
}

.img_container{
    position: relative;
    display: flex;
    justify-content: center;

    height: 15rem;
}

.img_container img, picture{
    margin-top: -6.2rem;
    width: 28rem;
}

.img_container__shadow{
    position: absolute;
    top: 0rem;
    display: block;

    width: 28rem;
    height: 12.2rem;

    background-image: url("./images/bg-pattern-mobile.svg");
    background-size: 28rem;
    background-repeat: no-repeat;
}

/*-------------------------- Modifiers  ---------------------------------*/

.text--hide{
    display: none;
}

.text--show{
    display: block;

    margin: 0 0 2rem 0;
    width: 100%;
    color: var(--text-color);
}

.active--heading{
    font-weight: 700;

    color: var(--active-heading-color);
}

.arrow--up{
    transform: rotate(-180deg);
}

/* ------------------------ End of modifiers ---------------------------*/ 

h1{
    font-size: 3.6rem;
    text-align: center;

    color: var(--active-heading-color);
}

.faq_container{
    margin-top: 2.5rem;
}

.faq__question{
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    width: 100%;
    min-height: 5rem;

    font-size: 1.5rem;

    border-bottom: 0.1rem solid var(--dividers);
}

.faq__question > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 5rem;
    width: 100%;

    color: var(--heading-color);
}

.arrow{
    display: inline-block;

    width: 1rem;
    height: 1rem;

    background-image: url("./images/icon-arrow-down.svg");
    background-size: 1rem;
    background-repeat: no-repeat;
}

